<div class="welcome d-flex justify-content-center align-items-center flex-column">
<div class="texture-welcome w-100">
<main class="d-flex justify-content-center align-items-start min-vh-75 mh-100">
<div class="d-flex flex-column justify-content-center align-items-center mt-5 mb-5">
    <a class="navbar-brand" href="/">
    <%= image_tag("logo_branca.png", class: "logo-img", alt: "Logo da empresa", width: 300, height: 350) %>
    </a>
<h1 class="fw-light text-light text-wrap col-md-8 text-center">Crie, transforme e inove com Smart Tech Solutions</h1>
<span class="col-md-6 ">
  <%= render 'search/form'%>
</span>
</div>
</main>
<div class="bg-dark w-100 min-vh-100 border-top border-light" style="--bs-border-opacity: .2;">

</div>
</div>
</div>
