<div class="welcome d-flex justify-content-center align-items-center flex-column w-100">
  <div class="texture-welcome w-100">

    <main class="d-flex justify-content-center align-items-start">
      <div class="d-flex flex-column justify-content-center align-items-center mt-5 mb-5">
        <!-- <a class="navbar-brand" href="/">
    <%= image_tag("logo_branca.png", class: "logo-img", alt: "Logo da empresa", width: 200, height: 250) %>
    </a>
-->
        <div class="col-md-8 row-md-2 d-flex flex-column justify-content-around min-vh-65">
          <h1 class="fw-light text-light text-wrap text-center">Crie, transforme e inove com Smart Tech Solutions</h1>
          <!--<h1 class="fw-light text-light text-wrap col-md-8 text-center">Crie, transforme e inove com Smart Tech Solutions</h1>-->
          <span class="justify-self-end p-4">
            <!--<span class="col-md-6">-->
            <%= render 'search/form' %>
          </span>
        </div>
      </div>
    </main>

    <div class="bg-dark w-100 min-vh-100 border-top border-light" style="--bs-border-opacity: .2;">
      <div class="container mt-5 mb-0">

        <div class="row g-0 text-light">
          <div class="col-12 col-md-8">
            <h4>Quem somos?</h4>
            <div class="row">
              <div class="col-12 col-md-6">
                <p>

                  A Smart Tech está no mercado desde 2014, oferecendo a nossos clientes soluções inteligentes com
                  Tecnologia de Ponta em Segurança Eletrônica, Redes, Transmissão, Automação, Informática e Energia,
                  atendendo os todos os públicos, sendo ele Residencial, Condominial, Comercial, Industrial, Agro e
                  Órgãos
                  Públicos.
                  Estamos ao mercado com a missão de levar a nossos clientes o melhor em tecnologia e inovação, através
                  de
                  uma prestação de serviços de qualidade, com ética, transparência e responsabilidade social.
                  Nossa equipe é composta por profissionais qualificados e certificados.
                 
                </p>
              </div>
              <div class="col-12 col-md-6">
                <p> 
                  Em todos os seguimentos que atuamos, os colaboradores são treinados nas normas atuais e com as
                  melhores
                  práticas vigentes no mercado, estando aptos a solucionar qualquer necessidade do cliente.
                  Através de Parcerias com os melhores fornecedores do mercado, e com visitas a feiras e eventos
                  tecnológicos, disponibilizamos para o Cliente, o que há de mais moderno, facilitando seu dia a dia e
                  permitindo que tudo esteja ao alcance de um clique.
                  Nossos esforços são para a satisfação completa de nossos clientes.
                </p>
              </div>
            </div>

          </div>
          <div class="hide col-md-1 h-100 d-flex justify-content-center align-items-center">
            <div class="hide vr" style="height: 500px;"></div>
          </div>

          <div class="col-12 col-md-3">
            <h4>Referências</h4>
            <div class="row p-0 m-0">
            <div class="col-6 col-md-12"><a href="/">Link 1</a></div>
            <div class="col-6 col-md-12"><a href="/">Link 2</a></div>
            <div class="col-6 col-md-12"><a href="/">Link 3</a></div>
            <div class="col-6 col-md-12"><a href="/">Link 4</a></div>
            <div class="col-6 col-md-12"><a href="/">Link 5</a></div>
            <div class="col-6 col-md-12"><a href="/">Link 6</a></div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>